/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

/* all reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* common style */
body {
  font-family: "Poppins", sans-serif;
  background: #f3f1ff;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  background: #ffffff;
  width: 870px;
  padding: 30px;
  margin-top: 20px;
  border-radius: 5px;
}

/* top players style */

.section-title {
  color: #562eff;
  font-weight: 500;
  font-size: 24px;
  margin-top: 3px;
}
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 30px;
  margin-top: 40px;
}
.player {
  display: flex;
  align-items: center;
}
.player img {
  width: 56px;
  height: 56px;
}
.player-name {
  margin-left: 16px;
  font-size: 18px;
}
hr {
  margin: 30px 30px 30px 30px;
  border: 1px solid #d1d1d1;
}

/*------ blog styles------ */
.blogs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 26px;
  margin-top: 30px;
}
.blog {
  display: flex;
}
.thumbnail img {
  width: 177px;
  height: 117px;
}
.blog-info {
  margin-left: 16px;
}
.blog-title {
  font-size: 20px;
  font-weight: 500;
}
.blog-author {
  color: #9f9f9f;
  font-size: 16px;
}
.blog-author a {
  color: #562eff;
  text-decoration: none;
  font-size: 16px;
}

/* latest course  */
.latest-course {
  margin-bottom: 20px;
}
.courses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 26px;
  margin-top: 10px;
}
.course {
  padding: 7px 10px 7px 14px;
  border: 1px solid #f1e1e1;
  box-shadow: 3px 2px 33px grey;
  border-radius: 5px;
}
.course-banner img {
  width: 224px;
  height: 104px;
}

.fa-star {
  font-size: 12px;
}
.fa-star.feild {
  color: #ffc014;
}
.fa-star.empty {
  color: #aeaeae;
}
.course-info {
  display: flex;
  justify-content: space-between;
}
.course-duration {
  background: #ffe4e8;
  border-radius: 14.6913px;
  padding: 3px 9px;
  color: #ff4a60;
}
/* --------------media queries --------------*/

/* for mobile */
@media only screen and (max-width: 688px) {
  .container {
    width: 100%;
  }
  .players,
  .blogs,
  .courses {
    grid-template-columns: repeat(1, 1fr);
  }
  .player {
    justify-content: center;
  }
  .blog {
    flex-direction: column;
    align-items: center;
  }

  .course {
    text-align: center;
  }
}
